<h1 class="pageTitle">CREATE YOUR PROFILE</h1>

<header class="header">
  <button class="search">search</button>
  <h1>DevMountain</h1>

  <nav class="menu">
    <a ui-sref="profile">Profile Settings</a>
  </nav>
</header>

<div class="content">
  <div class="leftContent">
    <h1>{{profiles.fullName}}</h1>
    <span>{{profiles.tagline}}</span>
    <span>{{profiles.profileImage}}</span>
    <span>{{profiles.bio}}</span>
  </div>

  <div class="rightContent">
    <div class="trangles">
      <div class="triangleUp"></div>
      <div class="triangleDwn"></div>
    </div>
  </div>
</div>
