<h1 class="pageTitle">CREATE YOUR PROFILE</h1>

<header class="header">
  <button class="search">search</button>
  <h1>DevMountain</h1>

  <nav class="menu">
    <a ui-sref="profile">Profile Settings</a>
  </nav>
</header>

<div class="content">
  <div class="leftContent">
    <h1>{{profiles.fullName}}</h1>
    <span>{{profiles.tagline}}</span>
    <span>{{profiles.profileImage}}</span>
    <span>{{profiles.bio}}</span>
  </div>

  <section class="rightContent">
    <p>Welcome to <a href="">DevMount
      <div class="leftContent">
        <p>Welcome to <a href="">DevMountain</a> Social</p>
        <p>Add Some Information So Friends Can Find You</p>
        <input ng-model="profiles.fullName" class="fullName input" placeholder="Full Name" />
        <input ng-model="profiles.tagline" class="tagline input" placeholder="Tagline" />
        <input ng-model="profiles.profileImage" class="profileImage input" placeholder="Profile Image URL" />
        <input ng-model="profiles.bio" class="bio input" placeholder="bio" />
        <button  ng-click="addData()" ui-sref="landing" class="button">Save Changes</button>
      </div>
</div>
